
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" ng-controller="NavCtrl">
        <a class="navbar-brand" href="#" ng-show="currentUser">User: {{ currentUser.username }}</a>
        <!-- <span>User: {{ currentUser.username }}</span> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="collapse navbar-collapse navbarCollapse justify-content-end" id="navbarNavDropdown"> -->
        <div class="collapse navbar-collapse navbarCollapse justify-content-end" id="navbarNavDropdown">
          <ul class="nav navbar-nav ">  
            


           
            <li class="nav-item" ng-show="currentUser">
              <a class="nav-link nav-item-colapse" ui-sref="home">Home </a>
            </li>
              
            <li class="nav-item" ng-show="currentUser">
              <a class="nav-link nav-item-colapse" ui-sref="view2">View 2</a>
            </li>
            
            <li class="nav-item" ng-show="currentUser">
              <a class="nav-link nav-item-colapse" ui-sref="view3">View 3</a>
            </li> 

            <li class="nav-item" ng-show="currentUser">
                <a class="nav-link nav-item-colapse" ui-sref="reports">Reports</a>
            </li>

            
            <li class="nav-item dropdown" ng-show="currentUser">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item nav-item-colapse" ui-sref="projects">Manage Projects</a>
                <a class="dropdown-item nav-item-colapse" ui-sref="users">Manage Users</a>
                <a class="dropdown-item nav-item-colapse" href="http://www.google.com">Do Something Else</a>
              </div>
            </li>

            <li class="nav-item">
              <!-- <a class="nav-link" ui-sref="home" ng-click="logout()">Logout</a> -->
              <a class="nav-link active" ui-sref="login" ng-show="!currentUser">Login</a>
          </li>


            <li class="nav-item">
                <!-- <a class="nav-link" ui-sref="home" ng-click="logout()">Logout</a> -->
                <a class="nav-link" ng-click="logout()" ng-show="currentUser">Logout</a>
            </li>

          </ul>
        </div>
      </nav>