<!-- <h1>Sign Up</h1>

<p>
  <input ng-model="user.username"/></br>
  <input ng-model="user.password" type="password" /></br>
  <input ng-model="user.password2" type="password" /></br>
  <button ng-click="signup(user)">Sign Up</button>
</p> -->


  <!-- Code from: https://bootsnipp.com/snippets/featured/login-and-register-tabbed-form -->
<!-- <div class="container">
    <form class="form-horizontal" role="form" method="POST" action="/register">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" ng-model="user.username" name="name" class="form-control" id="name"
                               placeholder="John Doe" required autofocus >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle"> -->
                            <!-- Put name validation error messages here -->
                        <!-- </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="you@example.com" required autofocus >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle"> -->
                            <!-- Put e-mail validation error messages here -->
                        <!-- </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" ng-model="user.password" name="password" class="form-control" id="password"
                               placeholder="Password" required >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"> Example Error Message</i>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Confirm Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" ng-model="user.password2" name="password-confirmation" class="form-control"
                               id="password-confirm" placeholder="Password" required >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" ng-click="signup(user)"><i class="fa fa-user-plus"></i> Register</button>
            </div>
        </div>
    </form>
</div>


<hr> -->
<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <!-- <h2 class="text-center text-white mb-4">Bootstrap 4 Login Form</h2> -->
          <div class="row">
              <div class="col-md-6 mx-auto">
                  <span class="anchor" id="formLogin"></span>

                  <!-- form card login -->
                  <div class="card rounded-0">
                      <div class="card-header">
                          <h3 class="mb-0">Register</h3>
                      </div>
                      <div class="card-body">
                          <form class="form" role="form" autocomplete="off" id="formLogin">
                              
                            <div class="form-group">
                                  <label for="uname1">Username</label>
                                  <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="" ng-model="user.username">
                              </div>
                              
                              <div class="form-group">
                                  <label>Password</label>
                                  <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password" ng-model="user.password">
                              </div>

                              <div class="form-group">
                                <label>Re-enter Password</label>
                                <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password" ng-model="user.password2">
                            </div>

                              <button type="button" class="btn btn-success btn-lg float-right" ng-click="signup(user)">Register</button>
                          </form>
                      </div>
                      <!--/card-block-->
                  </div>
                  <!-- /form card login -->

              </div>


          </div>
          <!--/row-->

      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->