<!-- <h3> This is view 1 </h3> -->

<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a ui-sref="login" class="btn btn-primary"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>